{% extends "navbar/navbar.html" %}

{% block content %}

<h1>Update Profile</h1>
		<form method="POST">
			<div class="form-group">
				<label for="firstName">Name</label>
				<input type="text" class="form-control" id="name" aria-describedby="name" placeholder="Enter Name" size = "30" value="{{ user.name }}">
			</div>


			<div class="form-group">
				<label for="password">Change Password</label>
				<input type="password" class="form-control" name="password" aria-describedby="firstName" placeholder="New Password" size = "30">
			</div>

      <div class="form-group">
				  <label for="password">Bio</label>
				  <textarea  class="form-control" name="bio"></textarea>
			</div>

			<div class="form-group">
				<label for="interests">Interests (comma-separated values)</label>

				<input name="tags" type="text" class="form-control" value="{{ ','.join(user.get_tags()) }}">
			</div>




			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
{% endblock %}
